:root {
    --main-bg-h: url('../assets/img/vecteezy_light-brown-cartoon-H.jpg');
    --main-bg-v: url('../assets/img/vecteezy_light-brown-cartoon-V.jpg');
    --main-color: #AE4C28;
    --secondary-color: #ED7D31;
    --text-color: #fff;
    --shadow-color: #000;
    --main-font: 'roboto';
    --xo-font: 'aref-menna';
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--main-color);
    background-image: var(--main-bg-h);
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .top, .container .bottom {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .top .logo {
    font-family: 'alex-brush';
    font-size: 140px;
    letter-spacing: 15px;
    margin-left: 35px;
    color: var(--text-color);
    text-shadow: var(--shadow-color) 1px 1px 1px;
}

.container .top .title {
    font-family: 'roboto';
    text-transform: uppercase;
    font-size: 18px;
    color: var(--text-color);
    font-weight: 700;
    text-shadow: var(--shadow-color) 1px 1px 1px;
    letter-spacing: 2px;
    margin-top: -30px;
}

.container .bottom {
    justify-content: start;
    padding-top: 20px;
}

.container .bottom .link {
    font-family: var(--main-font);
    background-color: var(--main-color);
    background-image: var(--main-bg-h);
    background-repeat: no-repeat;
    background-size: cover;
    border: var(--main-color) 2px outset;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.container .bottom p {
    color: var(--text-color);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
    text-shadow: var(--shadow-color) 1px 1px 1px;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    body {
        background-image: var(--main-bg-v);
    }
}